######################################################################
# IDE
.idea
*.iws
*.iml
*.ipr

########################## Build  ####################################
# gradle
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

##########################  日志  #####################################
*.log
